extends layout

block content
  h1 Student Details

  if items.length > 0
    table
      thead
        tr
          th ID
          th Name
          th Age
      tbody
        each item in items
          tr
            td= item.id
            td= item.name
            td= item.age
  else
    p No student details found.
